<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/iio</directory>
        </whitelist>
    </filter>
</phpunit>
